


@media  (max-width: 992px) {
    header img {
        height: 60px;
    }
    header ul li a{
        font-size: 14px;
    
    }
    h1{
        font-size: 50px;
    }

     #services  h2,
        #team h2{
            font-size: 40px;
        }
        #team h3{
            font-size: 23px;
        }
             #team p{
            font-size: 15px;
        }
   
   #services h3{
        font-size: 22px;
    }
   #services p{
        font-size: 13px;
    } 



}
@media  (max-width: 784px) {
  
    header img{
        margin: auto;
        width: 40%;
        height: 80px;

    }
    #logo i{
        display: block;
        position: absolute;
        color: blanchedalmond;
        top: -52px;
        right: 22px;
        font-size: 40px;

    }
    h1{
        font-size: 40px;
    } header ul{
        display: none;
        visibility: hidden;
        opacity: 0;
        width: 0;
    }
}

@media screen and (max-width: 768px) {
  
}

@media screen and (max-width: 576px) {
  
}

@media screen and (max-width: 360px) {
  
}
